{% extends "layout.html" %}
 {% block content %}
<div class="row">
    <div class='col-md-12'>
        <div class="card">
            <div class='card-header mb-5'>
                <h5 class='card-category'>Tentang</h5>
                <h2 class="card-title">Home Credit Default Risk</h2>
            </div>
            <div class="card-body">
                <div class="row justify-content-md-center">
                    <img src="https://www.homecredit.co.id/_next/static/images/og-image-2a8942c2a5d38dfdd5ee47bc0068e8af.png" alt="" width="512px" height="256px">
                </div>
                <br>
                <br>
                <div class="row justify-content-md-center">
                    <h2><span>About Final Project!</span></h2>
                </div>
                <div class="typography-line">
                    <p><span>Home Credit</span> merupakan perusahaan pembiayaan multiguna yang memberikan layanan pembiayaan bagi pelanggan yang berbelanja secara online maupun offline. 
                        home credit juga menyediakan pembiayaan multiguna bagi pelanggan setia kami agar mereka dapat memenuhi kebutuhan finansial mereka.
                        <br><br> Home Credit menyediakan pembiayaan di toko (pembiayaan non-tunai langsung di tempat) untuk konsumen yang ingin membeli produk-produk seperti alat rumah tangga, alat-alat elektronik, handphone, dan furnitur. Di samping itu, Home Credit juga menyediakan pembiayaan multiguna kepada pelanggan. 
                        Pelanggan Home Credit bisa menggunakan pembiayaan multiguna untuk pembiayaan renovasi rumah, biaya pendidikan, atau bahkan berlibur. Seiring dengan berkembangnya jaringan distribusi Home credit varian produk mereka juga akan semakin berkembang.</p>
                </div>
                <div class="typography-line">
                    <br> <br> <br>
                    <p><span>Final Project</span> ini dibentuk agar memudah home credit menyeleksi orang-orang yang akan mengambil pinjaman
                    guna menekan kerugian akibat gagal bayar (default). Machine Learning ini menggunakan Random Forest Classifier untuk
                memperkirakan apakah seseorang akan gagal bayar atau tidak. Algoritma Machine Learning ini juga sudah melewati berbagai tahapan
            yang diperlukan untuk dapat memperhitungkan resiko seseorang gagal bayar.</p>
                </div>
            </div>
        </div>
    </div>
</div>
 {%endblock%}